01_Getting_&_Knowing_Your_Data/.ipynb_checkpoints/
01_Getting_&_Knowing_Your_Data/archive.zip
02_Filtering_&_Sorting/.ipynb_checkpoints/
02_Filtering_&_Sorting/DS_Store
02_Filtering_&_Sorting/Euro_2012_stats_TEAM.csv
03_Grouping/.ipynb_checkpoints/
04_Apply/.ipynb_checkpoints/
04_Apply/student-mat.csv
04_Apply/US_Crime_Rates_1960_2014.csv
05_Merge/.ipynb_checkpoints/
05_Merge/cars1.csv
05_Merge/cars2.csv
06_Stats/.ipynb_checkpoints/
06_Stats/US_Baby_Names_right.csv
06_Stats/wind.data
06_Stats/wind.desc
07_Visualization/.ipynb_checkpoints/
07_Visualization/Online_Retail.csv
07_Visualization/tips.csv
07_Visualization/train.csv
08_Creating_Series_and_DataFrames/.ipynb_checkpoints/
09_Time_Series/appl_1980_2014.csv
09_Time_Series/.ipynb_checkpoints/
10_Deleting/.ipynb_checkpoints/